html {
    height: 100%;
    background-color: #f1f5f9;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 15px;
    width: 70vw;
    height: 80vh;
    border: 3px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1.5fr 4fr 1fr ;
    background-color: #e2e8f0;
}

.top,
.bottom {
    align-self: center;
    justify-self: center;
}

.player-select {
    font-size: 30px;
    margin: 30px;
    padding: 0 60px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #e2e8f0;
}

#restart,
#start {
    font-size: 35px;
    background-color: #e2e8f0;
    /* border: none; */
}

.main {
    background-color: #64748b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    gap: 0;
}

.square {
    background-color: #64748b;
    border: none;
    margin: 0;
    font-size: 60px;
    text-align: center;
    color: white;
    font-weight: 700;
}

#btn-0,
#btn-1,
#btn-2,
#btn-3,
#btn-4,
#btn-5 {
    border-bottom: 3px solid black;
}

#btn-0,
#btn-3,
#btn-6,
#btn-1,
#btn-4,
#btn-7 {
    border-right: 3px solid black;
}



